<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>

    <br>
    <h2>Puedes acceder al: <a href="/movies">Listado de Películas</a></h2>

    <br>
    <h2>Puedes acceder a: <a href="/genres">Todos los Géneros</a></h2>

    <br>
    <h2>Puedes acceder a: <a href="/movies/new">Películas por fecha</a></h2>
    <br>

    <h2>Puedes acceder a: <a href="/movies/recommended">Top 5 mas Recomendadas</a></h2>
  </body>
</html>
